{{#each conditions}}
  <button
    type='button'
    class='{{classes}}'
    data-n='{{n}}'
    data-tooltip='{{tooltip}}'
    aria-label='{{label}}'
    aria-pressed='{{filled}}'
  ></button>
{{/each}}